<h1 class="main-title">Your Requests</h1>
<div class="list">
  <% @requests.each do |request| %>
    <div class="row">
      <span class="field"><%= "#{request.book.title}" %></span>
      <span class="field"><%= "#{request.request_date}" %></span>
      <span class="field"><%= "Status: #{request.status.capitalize}" %></span>
    </div>
  <% end %>
</div>
