<h1>Request Book</h1>
<% if current_user.requested_book?(book) %>
  <span>You have already requested this book, wait for an answer</span>
<% else %>
  <%= form_for([book, book.requests.new]) do |r| %>
    <%= r.label "Date" %>
    <%= r.date_field :request_date %>
    <%= r.submit "Request" %>
  <% end %>
<% end %>
