<div>
  <%= form_for @book, url: {action: "create"} do |f| %>
    <div>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.text_field :isbn %>
    </div>
    <div>
      <%= f.text_field :year %>
    </div>
  <% end %>
</div>
