footer {
  display: flex;
  flex-direction: column;
  height: 50px;
  padding: 30px 10px 0 10px;
}

.credits-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.divider-line.footer-divider {
  flex: none;
  margin-bottom: 10px;
}
