<footer class="footer-container">
  <div class="footer-divider divider-line"></div>
  <div class="credits-container">
    <span class="credits-name">Felipe García</span>
    <span class="credits-year">2016</span>
  </div>
</footer>
